services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "8000:80"
    environment:
      - DB_HOST=157.85.98.150
      - DB_NAME=nuxtcommerce_db
      - DB_USER=root
      - 'DB_PASSWORD=KtmdoLt9b$$n!'
    volumes:
      # Mount WordPress directory for easy config updates
      - ./wordpress:/app/wordpress
