services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "8000:80"

    environment:
      # =================
      # Database (Docker Network)
      # =================
      - DB_HOST=mysql
      - DB_NAME=nuxtcommerce_db
      - DB_USER=root
      - DB_PASSWORD=KtmdoLt9b$$n!

      # =================
      # Public URL (Traefik)
      # =================
      - BASE_URL=http://yardsalethailand-nuxt-8p0ykj-f4d600-157-85-98-150.traefik.me
      - WP_HOME=http://yardsalethailand-nuxt-8p0ykj-f4d600-157-85-98-150.traefik.me
      - WP_SITEURL=http://yardsalethailand-nuxt-8p0ykj-f4d600-157-85-98-150.traefik.me/wordpress
      - WP_MEDIA_HOST=http://yardsalethailand-nuxt-8p0ykj-f4d600-157-85-98-150.traefik.me/wordpress

      # =================
      # Internal
      # =================
      - INTERNAL_BASE_URL=http://app

      # =================
      # Auth / API
      # =================
      - WP_BASIC_AUTH=cGFyYWRvbl9wb2twaW5nbWF1bmc6eDRkTCA4QUp1IHQzSHkgZzIyMyA5aTViIG9hTnk=
      - WC_CONSUMER_KEY=ck_6c8520b64c0bac82b407b08e7de3c7908af0de51
      - WC_CONSUMER_SECRET=cs_fdcba105736b44ef72f787faeb0f3aec5e74306f
      - GQL_HOST=http://app/wordpress/graphql

    volumes:
      # ✅ ถูกต้องแล้ว
      - ./wordpress/wp-content:/app/wordpress/wp-content
