services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"

    labels:
      # Traefik Configuration
      - "traefik.enable=true"
      # Route for nuxt domain - route to Nuxt.js on port 3000
      - "traefik.http.routers.app.rule=Host(`yardsalethailand-nuxt-8p0ykj-f4d600-157-85-98-150.traefik.me`)"
      - "traefik.http.routers.app.entrypoints=web"
      - "traefik.http.routers.app.service=app"
      - "traefik.http.services.app.loadbalancer.server.port=3000"

    environment:
      # =================
      # Database (Docker Network)
      # =================
      - DB_HOST=mysql
      - DB_NAME=nuxtcommerce_db
      - DB_USER=root
      - DB_PASSWORD=RootBeer06032534

      # =================
      # Public URL (Traefik)
      # =================
      - BASE_URL=http://yardsalethailand-nuxt-8p0ykj-f4d600-157-85-98-150.traefik.me

      # =================
      # Internal
      # =================
      - INTERNAL_BASE_URL=http://127.0.0.1:80

    volumes:
      # Mount project root
      - .:/app
