services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "8000:80"
    environment:
      - DB_HOST=157.85.98.150
      - DB_NAME=nuxtcommerce_db
      - DB_USER=root
      - 'DB_PASSWORD=KtmdoLt9b$$n!'
      # Nuxt Configuration
      - BASE_URL=http://localhost:8000
      # WordPress Configuration
      - WP_MEDIA_HOST=http://localhost:8000/wordpress
      # WordPress Authentication (สำหรับอัปโหลดรูปภาพ)
      - WP_BASIC_AUTH=cGFyYWRvbl9wb2twaW5nbWF1bmc6eDRkTCA4QUp1IHQzSHkgZzIyMyA5aTViIG9hTnk=
      # WooCommerce REST API Keys (สำหรับสร้าง Product)
      - WC_CONSUMER_KEY=ck_6c8520b64c0bac82b407b08e7de3c7908af0de51
      - WC_CONSUMER_SECRET=cs_fdcba105736b44ef72f787faeb0f3aec5e74306f
      # GraphQL Host (ถ้ามี)
      - GQL_HOST=http://localhost:8000/wordpress/graphql
      # Internal Base URL for PHP API calls (ใช้สำหรับ Nuxt server เรียก PHP API ภายใน container)
      # ใน production ควรตั้งค่าเป็น http://127.0.0.1:80 หรือ http://localhost:80
      - INTERNAL_BASE_URL=http://127.0.0.1:80
    volumes:
      # Mount WordPress directory for easy config updates
      - ./wordpress:/app/wordpress
