# WordPress Configuration
# WordPress base URL (without trailing slash)
WP_BASE_URL=http://157.85.98.150:8080

# WordPress Basic Auth (base64 encoded username:password)
# Example: echo -n "username:password" | base64
WP_BASIC_AUTH=

# WooCommerce Consumer Key (optional, for WooCommerce REST API)
WP_CONSUMER_KEY=ck_d8a9370cb5c470355af0f17a3330021dfdd9be7d

# WooCommerce Consumer Secret (optional, for WooCommerce REST API)
WP_CONSUMER_SECRET=cs_f76d242065e7177762dd98be132f77e6ccd5421c

# Base URL for the application
BASE_URL=http://localhost:3000

# Database Configuration
DB_HOST=157.85.98.150:3306
DB_NAME=nuxtcommerce_db
DB_USER=root
DB_PASSWORD=
